body
{
	text-align: center;
}
span
{
	font-size: 12px;
	color: red;
}
canvas
{
	background: pink;
	border-radius: 20px;
}
h2
{
	font-size: 20px;
	border-radius: 30px;

}
h3
{
	font-size: 35px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}